<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-body" style="margin-left:-180px;">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-tab">
             <div class="layui-tab-content">
               <div class="layui-tab-item layui-show" style="margin-top:-50px;">
                <from class="layui-form" method="post" action="" onsubmit="return dosubmit();">{% csrf_token %}                            
                     <table class="layui-table" id="tableCompany">
                            <colgroup>
                                <col width="450">
                                <col width="200">
                                <col>
                            </colgroup>
                        <thead>
                            <tr>
                              <th>指标名称</th>
                              <th>代码</th>
                              <th>内容</th>
                            </tr> 
                         </thead>
                         <tbody>
                            <tr>
                              <td>企业注册地是否在国家高新技术产业开发区内</td>
                              <td>qb07_2</td>
                              <td contentEditable="true">{{ resultCompany.qb07_2 }}</td>
                            </tr>
                            <tr>
                              <td>企业主要生产经营活动是否在国家高新技术产业开发区内</td>
                              <td>qb07_3</td>
                              <td contentEditable="true">{{ resultCompany.qb07_3 }}</td>
                            </tr>
                            <tr>
                              <td>进区时间年</td>
                              <td>qb08</td>
                              <td contentEditable="true">{{ resultCompany.qb08 }}</td>
                            </tr>
                            <tr>
                              <td>企业是否进入国家自主创新示范区</td>
                              <td>qb21</td>
                              <td contentEditable="true">{{ resultCompany.qb21 }}</td>
                            </tr>
                            <tr>
                              <td>如果已进区，请选择所在自创区名称</td>
                              <td>qb22</td>
                              <td contentEditable="true">{{ resultCompany.qb22 }}</td>
                            </tr>
                            <tr>
                              <td>企业隶属关系</td>
                              <td>qb101</td>
                              <td contentEditable="true">{{ resultCompany.qb101 }}</td>
                            </tr> 
                            <tr>
                              <td>主要业务活动或主要产品</td>
                              <td>qb03_0</td>
                              <td contentEditable="true">{{ resultCompany.qb03_0 }}</td>
                            </tr>
                            <tr>
                              <td>行业代码</td>
                              <td>qb03_1</td>
                              <td contentEditable="true">{{ resultCompany.qb03_1 }}</td>
                            </tr>
                            <tr>
                              <td>注册时间</td>
                              <td>qb04</td>
                              <td contentEditable="true">{{ resultCompany.qb04 }}</td>
                            </tr>
                            <tr>
                              <td>注册资金</td>
                              <td>qb04_0</td>
                              <td contentEditable="true">{{ resultCompany.qb04_0 }}</td>
                            </tr>
                            <tr>
                              <td>企业执行会计标准类别</td>
                              <td>qb20_1</td>
                              <td contentEditable="true">{{ resultCompany.qb20_1 }}</td>
                            </tr>
                            <tr>
                              <td>企业执行会计准则情况</td>
                              <td>qb20</td>
                              <td contentEditable="true">{{ resultCompany.qb20 }}</td>
                            </tr>  
                            <tr>
                              <td>登记注册类型</td>
                              <td>qb06</td>
                              <td contentEditable="true">{{ resultCompany.qb06 }}</td>
                            </tr>
                            <tr>
                              <td colspan='3'>主要外资来源国或地区的国别（地区）名称代码及外资出资比例（限港澳台商和外商投资企业填报）</td>
                            </tr>
                            <tr>
                              <td>国别或地区代码</td>
                              <td>qb06_1</td>
                              <td contentEditable="true">{{ resultCompany.qb06_1 }}</td>
                            </tr>
                            <tr>
                              <td>出资比例</td>
                              <td>qb06_2</td>
                              <td contentEditable="true">{{ resultCompany.qb06_2 }}</td>
                            </tr>
                            <tr>
                              <td>企业控股情况</td>
                              <td>qb18</td>
                              <td contentEditable="true">{{ resultCompany.qb18 }}</td>
                            </tr>
                            <tr>
                              <td>企业集团情况</td>
                              <td>qb09</td>
                              <td contentEditable="true">{{ resultCompany.qb09 }}</td>
                            </tr> 
                            <tr>
                              <td>QB09如为2，请填直接上级法人单位统一社会信用代码</td>
                              <td>qb10</td>
                              <td contentEditable="true">{{ resultCompany.qb10 }}</td>
                            </tr>
                            <tr>
                              <td>企业被认定为高新技术企业的时间</td>
                              <td>qb12</td>
                              <td contentEditable="true">{{ resultCompany.qb12 }}</td>
                            </tr>
                            <tr>
                              <td>与科技企业孵化器关系</td>
                              <td>qb14</td>
                              <td contentEditable="true">{{ resultCompany.qb14 }}</td>
                            </tr>
                            <tr>
                              <td>入孵时间</td>
                              <td>qb14_1</td>
                              <td contentEditable="true">{{ resultCompany.qb14_1 }}</td>
                            </tr>      
                            <tr>
                              <td>毕业时间</td>
                              <td>qb14_2</td>
                              <td contentEditable="true">{{ resultCompany.qb14_2 }}</td>
                            </tr>
                            <tr>
                              <td>上市及新三板、四板挂牌情况</td>
                              <td>qb15</td>
                              <td contentEditable="true">{{ resultCompany.qb15 }}</td>
                            </tr>
                            <tr>
                              <td>股票代码</td>
                              <td>qb15_1</td>
                              <td contentEditable="true">{{ resultCompany.qb15_1 }}</td>
                            </tr>
                            <tr>
                              <td>上市挂牌时间</td>
                              <td>qb15_2</td>
                              <td contentEditable="true">{{ resultCompany.qb15_2 }}</td>
                            </tr> 
                            <tr>
                              <td>本公司是否为上市企业主体</td>
                              <td>qb15_3</td>
                              <td contentEditable="true">{{ resultCompany.qb15_3 }}</td>
                            </tr>
                            <tr>
                              <td>QB15_3若为否，请填写上市公司主体名称</td>
                              <td>qb15_4</td>
                              <td contentEditable="true">{{ resultCompany.qb15_4 }}</td>
                            </tr>
                            <tr>
                              <td>上市企业年末市值 </td>
                              <td>qb15_5</td>
                              <td contentEditable="true">{{ resultCompany.qb15_5 }}</td>
                            </tr>
                            <tr>
                              <td>企业所属技术领域</td>
                              <td>qb16</td>
                              <td contentEditable="true">{{ resultCompany.qb16 }}</td>
                            </tr>  
                            <tr>
                              <td>企业核心技术所属《国家重点支持的高新技术领域》</td>
                              <td>qb16_1</td>
                              <td contentEditable="true">{{ resultCompany.qb16_1 }}</td>
                            </tr>                                                                                                                                                                                                                                                                
                         </tbody>                                                                   
                      </table>    
                      
                      <div style="width:100%;height:50px;">
                           <div style="display:block;float:right" id="layerDemo">                        
                                 <input type='hidden' id='companyData' name='companyData' />
                                 <input type='submit' class='layui-btn' value='保存'  lay-submit="" lay-filter="save-company"> 
                           </div>
                     </div>
                  </from>  

             </div>                 
           </div>
        </div>
    </div>
  </div>
</div>
 
<script src="/static/layui.js"></script>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script>
      //JavaScript代码区域
    layui.use(['jquery','element','form', 'layedit', 'laydate'], function(){
          var $ = layui.$
          ,element = layui.element
          ,form = layui.form
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;
              
           laydate.render({
              elem: '#birthday'
          });
    
          laydate.render({
              elem: '#fillingTime'
          });
    }); 
   
    var username = window.parent.username;

</script>
</body>
</html>