<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-body" style="margin-left:-180px;">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-tab">
             <div class="layui-tab-content">
               <div class="layui-tab-item layui-show" style="margin-top:-50px;">
                 <from class="layui-form" method="post" action="" onsubmit="return dosubmit();">{% csrf_token %} 
                     <table class="layui-table" id="tableEconomic">
                            <colgroup>
                                <col width="450">
                                <col width="200">
                                <col>
                                <col>
                            </colgroup>
                        <thead>
                            <tr>
                              <th>指标名称</th>
                              <th>计量单位</th>
                              <th>代码</th>
                              <th>数量</th>
                            </tr> 
                         </thead>
                         <tbody>
                            <tr>
                              <td>工业总产值（当年价格）</td>
                              <td>千元</td>
                              <td>qc02</td>                              
                              <td contentEditable="true">{{ resultEconomic.qc02 }}</td>
                            </tr>
                            <tr>
                              <td>营业收入</td>
                              <td>千元</td>
                              <td>qc02_05</td>  
                              <td contentEditable="true">{{ resultEconomic.qc02_05 }}</td>
                            </tr>
                            <tr>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中：主营业务收入</td>
                              <td>千元</td>
                              <td>qc55</td>  
                              <td contentEditable="true">{{ resultEconomic.qc55 }}</td>
                            </tr>
                            <tr>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中：技术收入</td>
                              <td>千元</td>
                              <td>qc06</td>  
                              <td contentEditable="true">{{ resultEconomic.qc06 }}</td>
                            </tr>
                            <tr>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中：技术转让收入</td>
                              <td>千元</td>
                              <td>qc06_1</td>  
                              <td contentEditable="true">{{ resultEconomic.qc06_1 }}</td>
                            </tr>
                            <tr>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术承包收入</td>
                              <td>千元</td>
                              <td>qc06_2</td>  
                              <td contentEditable="true">{{ resultEconomic.qc06_2 }}</td>
                            </tr> 
                            <tr>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术咨询与服务收入</td>
                              <td>千元</td>
                              <td>qc06_3</td>  
                              <td contentEditable="true">{{ resultEconomic.qc06_3 }}</td>
                            </tr>
                            <tr>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;接受委托研究开发收入</td>
                              <td>千元</td>
                              <td>qc06_4</td>  
                              <td contentEditable="true">{{ resultEconomic.qc06_4 }}</td>
                            </tr>
                            <tr>
                              <td>产品销售收入</td>
                              <td>千元</td>
                              <td>qc07</td>  
                              <td contentEditable="true">{{ resultEconomic.qc07 }}</td>
                            </tr>
                            <tr>
                              <td>其中：高新技术产品</td>
                              <td>千元</td>
                              <td>qc09</td>  
                              <td contentEditable="true">{{ resultEconomic.qc09 }}</td>
                            </tr>
                            <tr>
                              <td>商品销售收入</td>
                              <td>千元</td>
                              <td>qc10</td>  
                              <td contentEditable="true">{{ resultEconomic.qc10 }}</td>
                            </tr>
                            <tr>
                              <td>其他营业收入</td>
                              <td>千元</td>
                              <td>qc49</td>  
                              <td contentEditable="true">{{ resultEconomic.qc49 }}</td>
                            </tr>  
                            <tr>
                              <td>进出口总额</td>
                              <td>千元</td>
                              <td>qc52</td>  
                              <td contentEditable="true">{{ resultEconomic.qc52 }}</td>
                            </tr>
                            <tr>
                              <td>其中：出口总额</td>
                              <td>千元</td>
                              <td>qc11</td>  
                              <td contentEditable="true">{{ resultEconomic.qc11 }}</td>
                            </tr>
                            <tr>
                              <td>其中：高新技术产品出口</td>
                              <td>千元</td>
                              <td>qc38</td>  
                              <td contentEditable="true">{{ resultEconomic.qc38 }}</td>
                            </tr>
                            <tr>
                              <td>技术服务出口</td>
                              <td>千元</td>
                              <td>qc11_1</td>  
                              <td contentEditable="true">{{ resultEconomic.qc11_1 }}</td>
                            </tr>
                            <tr>
                              <td>营业成本</td>
                              <td>千元</td>
                              <td>qc220</td>  
                              <td contentEditable="true">{{ resultEconomic.qc220 }}</td>
                            </tr>  
                            <tr>
                              <td>其中：研发、试验检验费</td>
                              <td>千元</td>
                              <td>qc220_1</td>  
                              <td contentEditable="true">{{ resultEconomic.qc220_1 }}</td>
                            </tr>
                            <tr>
                              <td>税金及附加</td>
                              <td>千元</td>
                              <td>qc221</td>  
                              <td contentEditable="true">{{ resultEconomic.qc221 }}</td>
                            </tr>
                            <tr>
                              <td>销售费用</td>
                              <td>千元</td>
                              <td>qc222</td>  
                              <td contentEditable="true">{{ resultEconomic.qc222 }}</td>
                            </tr>
                            <tr>
                              <td>管理费用</td>
                              <td>千元</td>
                              <td>qc223</td>  
                              <td contentEditable="true">{{ resultEconomic.qc223 }}</td>
                            </tr>
                            <tr>
                              <td>其中：技术（研究）开发费</td>
                              <td>千元</td>
                              <td>qc223_2</td>  
                              <td contentEditable="true">{{ resultEconomic.qc223_2 }}</td>
                            </tr>  
                            <tr>
                              <td>其中：支付科研人员的工资及福利费</td>
                              <td>千元</td>
                              <td>qc223_3</td>  
                              <td contentEditable="true">{{ resultEconomic.qc223_3 }}</td>
                            </tr> 
                            <tr>
                              <td>财务费用</td>
                              <td>千元</td>
                              <td>qc224</td>  
                              <td contentEditable="true">{{ resultEconomic.qc224 }}</td>
                            </tr>
                            <tr>
                              <td>资产减值损失</td>
                              <td>千元</td>
                              <td>qc228</td>  
                              <td contentEditable="true">{{ resultEconomic.qc228 }}</td>
                            </tr>
                            <tr>
                              <td>公允价值变动收益（损失以“-”号记）</td>
                              <td>千元</td>
                              <td>qc229</td>  
                              <td contentEditable="true">{{ resultEconomic.qc229 }}</td>
                            </tr>
                            <tr>
                              <td>投资收益（损失以“-”号记）</td>
                              <td>千元</td>
                              <td>qc225</td>  
                              <td contentEditable="true">{{ resultEconomic.qc225 }}</td>
                            </tr>  
                            <tr>
                              <td>资产处置收益（损失以“-”号记）</td>
                              <td>千元</td>
                              <td>qc233</td>  
                              <td contentEditable="true">{{ resultEconomic.qc233 }}</td>
                            </tr>
                            <tr>
                              <td>其他收益</td>
                              <td>千元</td>
                              <td>qc232</td>  
                              <td contentEditable="true">{{ resultEconomic.qc232 }}</td>
                            </tr>
                            <tr>
                              <td>营业利润</td>
                              <td>千元</td>
                              <td>qc120</td>  
                              <td contentEditable="true">{{ resultEconomic.qc120 }}</td>
                            </tr>
                            <tr>
                              <td>营业外收入</td>
                              <td>千元</td>
                              <td>qc227</td>  
                              <td contentEditable="true">{{ resultEconomic.qc227 }}</td>
                            </tr>
                            <tr>
                              <td>营业外支出</td>
                              <td>千元</td>
                              <td>qc230</td>  
                              <td contentEditable="true">{{ resultEconomic.qc230 }}</td>
                            </tr>                                                                                                                                                                                                                                                                                                                                                                                
                         </tbody>                                              
                      </table> 
                                       
                     <table class="layui-table" id="tableEconomicContinues">
                            <colgroup>
                                <col width="450">
                                <col width="200">
                                <col>
                                <col>
                            </colgroup>                            
                        <thead>
                            <tr>
                              <td colspan="4">续表</td>
                            </tr>                            
                            <tr>
                              <th>指标名称</th>
                              <th>计量单位</th>
                              <th>代码</th>
                              <th>数量</th>
                            </tr> 
                         </thead>
                         <tbody>   
                            <tr>
                              <td>利润总额</td>
                              <td>千元</td>
                              <td>qc234</td>                              
                              <td contentEditable="true">{{ resultEconomic.qc234 }}</td>
                            </tr>
                            <tr>
                              <td>净利润</td>
                              <td>千元</td>
                              <td>qc12</td>  
                              <td contentEditable="true">{{ resultEconomic.qc12 }}</td>
                            </tr>
                            <tr>
                              <td>所得税费用</td>
                              <td>千元</td>
                              <td>qc231</td>  
                              <td contentEditable="true">{{ resultEconomic.qc231 }}</td>
                            </tr>
                            <tr>
                              <td>实际上缴税费总额</td>
                              <td>千元</td>
                              <td>qc13</td>  
                              <td contentEditable="true">{{ resultEconomic.qc13 }}</td>
                            </tr>
                            <tr>
                              <td>其中：增值税</td>
                              <td>千元</td>
                              <td>qc14</td>  
                              <td contentEditable="true">{{ resultEconomic.qc14 }}</td>
                            </tr>
                            <tr>
                              <td>所得税</td>
                              <td>千元</td>
                              <td>qc16</td>  
                              <td contentEditable="true">{{ resultEconomic.qc16 }}</td>
                            </tr> 
                            <tr>
                              <td>减免税总额</td>
                              <td>千元</td>
                              <td>qc17</td>  
                              <td contentEditable="true">{{ resultEconomic.qc17 }}</td>
                            </tr>
                            <tr>
                              <td>其中：增值税</td>
                              <td>千元</td>
                              <td>qc18</td>  
                              <td contentEditable="true">{{ resultEconomic.qc18 }}</td>
                            </tr>
                            <tr>
                              <td>所得税</td>
                              <td>千元</td>
                              <td>qc20</td>  
                              <td contentEditable="true">{{ resultEconomic.qc20 }}</td>
                            </tr>
                            <tr>
                              <td>其中：享受高新技术企业所得税减免</td>
                              <td>千元</td>
                              <td>qc20_1</td>  
                              <td contentEditable="true">{{ resultEconomic.qc20_1 }}</td>
                            </tr>
                            <tr>
                              <td>研发加计扣除所得税减免</td>
                              <td>千元</td>
                              <td>qc20_2</td>  
                              <td contentEditable="true">{{ resultEconomic.qc20_2 }}</td>
                            </tr>
                            <tr>
                              <td>技术转让所得税减免</td>
                              <td>千元</td>
                              <td>qc20_3</td>  
                              <td contentEditable="true">{{ resultEconomic.qc20_3 }}</td>
                            </tr>  
                            <tr>
                              <td>应交增值税</td>
                              <td>千元</td>
                              <td>qc62</td>  
                              <td contentEditable="true">{{ resultEconomic.qc62 }}</td>
                            </tr>
                            <tr>
                              <td>本年应付职工薪酬（本年贷方累计发生额）</td>
                              <td>千元</td>
                              <td>qc51</td>  
                              <td contentEditable="true">{{ resultEconomic.qc51 }}</td>
                            </tr>
                            <tr>
                              <td>资产总计</td>
                              <td>千元</td>
                              <td>qc24</td>  
                              <td contentEditable="true">{{ resultEconomic.qc24 }}</td>
                            </tr>
                            <tr>
                              <td>其中：流动资产合计</td>
                              <td>千元</td>
                              <td>qc25</td>  
                              <td contentEditable="true">{{ resultEconomic.qc25 }}</td>
                            </tr>
                            <tr>
                              <td>非流动资产合计</td>
                              <td>千元</td>
                              <td>qc27_1</td>  
                              <td contentEditable="true">{{ resultEconomic.qc27_1 }}</td>
                            </tr>  
                            <tr>
                              <td>其中：固定资产净值</td>
                              <td>千元</td>
                              <td>qc29</td>  
                              <td contentEditable="true">{{ resultEconomic.qc29 }}</td>
                            </tr>
                            <tr>
                              <td>其中：无形资产</td>
                              <td>千元</td>
                              <td>qc30</td>  
                              <td contentEditable="true">{{ resultEconomic.qc30 }}</td>
                            </tr>
                            <tr>
                              <td>其中：累计折旧</td>
                              <td>千元</td>
                              <td>qc65</td>  
                              <td contentEditable="true">{{ resultEconomic.qc65 }}</td>
                            </tr>
                            <tr>
                              <td>其中：本年折旧</td>
                              <td>千元</td>
                              <td>qc61</td>  
                              <td contentEditable="true">{{ resultEconomic.qc61 }}</td>
                            </tr>
                            <tr>
                              <td>无形资产</td>
                              <td>千元</td>
                              <td>qc30</td>  
                              <td contentEditable="true">{{ resultEconomic.qc30 }}</td>
                            </tr>  
                            <tr>
                              <td>年末负债合计</td>
                              <td>千元</td>
                              <td>qc31</td>  
                              <td contentEditable="true">{{ resultEconomic.qc31 }}</td>
                            </tr> 
                            <tr>
                              <td>年末所有者权益（股东权益）</td>
                              <td>千元</td>
                              <td>qc33</td>  
                              <td contentEditable="true">{{ resultEconomic.qc33 }}</td>
                            </tr>
                            <tr>
                              <td>其中：实收资本（股本）</td>
                              <td>千元</td>
                              <td>qc34</td>  
                              <td contentEditable="true">{{ resultEconomic.qc34 }}</td>
                            </tr>
                            <tr>
                              <td>其中：企业上市融资股本</td>
                              <td>千元</td>
                              <td>qc63</td>  
                              <td contentEditable="true">{{ resultEconomic.qc63 }}</td>
                            </tr>
                            <tr>
                              <td>其中：企业海外上市融资股本</td>
                              <td>千元</td>
                              <td>qc50</td>  
                              <td contentEditable="true">{{ resultEconomic.qc50 }}</td>
                            </tr>  
                            <tr>
                              <td>对境外直接投资额</td>
                              <td>千元</td>
                              <td>qc39</td>  
                              <td contentEditable="true">{{ resultEconomic.qc39 }}</td>
                            </tr>
                            <tr>
                              <td>本年完成固定资产投资额</td>
                              <td>千元</td>
                              <td>qc40</td>  
                              <td contentEditable="true">{{ resultEconomic.qc40 }}</td>
                            </tr>
                            <tr>
                              <td>规模以上工业企业及重点耗能企业综合能源消费量</td>
                              <td>千元</td>
                              <td>qc41</td>  
                              <td contentEditable="true">{{ resultEconomic.qc41 }}</td>
                            </tr>                            
                            <tr>
                              <td colspan="4">补充资料：</td>
                            </tr>  
                            <tr class="replenish">                                                          
                              <td>企业当年是否或得风险投资（QC226_1):</td>
                              <td colspan="3"  contentEditable="true">{{ resultEconomic.QC226_1 }}</td>                             
                            </tr>                              
                            <tr class="replenish">                              
                              <td>若是，请注明企业获得风险投资的阶段是（QC226_2):</td>
                              <td  colspan="3"  contentEditable="true">{{ resultEconomic.QC226_2 }}</td>
                            </tr>                              
                            <tr class="replenish">                              
                              <td>当年获得创业风险投资机构的风险投资额为（QC226）：</td> 
                              <td  colspan="2"  contentEditable="true">{{ resultEconomic.QC226 }}</td>  
                              <td>千元</td>                         
                            </tr>                                                                                                                                                                                                                                                                                                                                                                           
                         </tbody>  
                     </table>     
                     
                      <div style="width:100%;height:50px;">
                           <div style="display:block;float:right" id="layerDemo">                        
                                 <!-- <button data-method="offset" data-type="auto" class="layui-btn" id="save-economic">保存</button>-->
                                 <input type='hidden' id='economicData' name='economicData' />
                                 <input type=text id="economicId" name="economicId" value={{ resultEconomic.id }}  > 
                                 <input type='submit' class='layui-btn' value='提交'  lay-submit="" lay-filter="save-economic"> 
                           </div>
                     </div>   
                 </from>                                                        
             </div>                 
           </div>
        </div>
    </div>
  </div>
</div>
 
<script src="/static/layui.js"></script>
<script src="/static/jquery.min.js" type="text/javascript"></script>
<script>
      //JavaScript代码区域
    layui.use(['jquery','element','form', 'layedit', 'laydate'], function(){
          var $ = layui.$
          ,element = layui.element
          ,form = layui.form
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;
              
           laydate.render({
              elem: '#birthday'
          });
    
          laydate.render({
              elem: '#fillingTime'
          });
          
          
      form.on('submit(save-economic)', function(data){
           var options_economic = [];
           var options_economic_continues = [];
          
           $("#tableEconomic tr").each(function() {                        
                 options_economic.push($(this).children().eq(3).text());                       
           });  
          $("#tableEconomicContinues tr").each(function() {                        
        	     options_economic_continues.push($(this).children().eq(3).text());                       
          });            
          $("#tableEconomicContinues .replenish").each(function() {                        
     	     options_economic_continues.push($(this).children().eq(1).text());                       
         }); 
          
          var economicId = $('#economicId').val() 	
                 	  
      $.ajax({
		   type: 'POST',
           data: {
    	   economicData: options_economic,
    	   economicContinuesData: options_economic_continues,
    	   economicId: economicId,
           csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()
           },
           url: '/addEconomic/',
		   cache: false,
		   async: false,
		   success: function(data){　　　　　　　　　
           layer.alert("保存成功", { });
		}
      })       
       return false;        
   });           
}); 
   
    var username = window.parent.username;

</script>
</body>
</html>