<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>鐧诲叆 - Fly绀惧尯</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_24081_qs69ykjbea.css">
    <link rel="stylesheet" href="http://res.layui.com/layui/dist/css/layui.css?t=1590913495283">
    <link rel="stylesheet" href="http//res.layui.com/static/css/fly/global.css?t=15909134952836" charset="utf-8">
    <link rel="stylesheet" href="/static/css/layui.css">
    </head>
    <body>
         <div class="fly-header layui-bg-black"> 
             <div class="layui-container"> <a class="fly-logo" href="/"> <img src="/static/images/fly/logo.png" alt="layui"> </a> 
                 <ul class="layui-nav fly-nav layui-hide-xs"> 
                 </ul> 
                 
                 <ul class="layui-nav fly-nav-user"> 

                 </ul> 
             </div>
          </div>
          <div class="layui-container fly-marginTop" > 
                  <div class="fly-panel fly-panel-user" pad20> 
                          <div align='center' class="layui-tab layui-tab-brief" lay-filter="user"> 
                                <ul class="layui-tab-title"> 
                                       <li class="layui-this">登入</li> <li><a href="/reg/">注册</a></li>
                                 </ul>                                     
                                            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;"> 
                                                 <div class="layui-tab-item layui-show"> 
                                                     <div class="layui-form layui-form-pane">
                                                        <form method="post"> 
                                                              <div class="layui-form-item"> 
                                                                     <label for="L_email" class="layui-form-label">手机/邮箱</label> 
                                                                     <div class="layui-input-inline"> 
                                                                         <input type="text" id="L_phone" name="phone" required="" lay-verify="phone" autocomplete="off" class="layui-input" />  
                                                                     </div> 
                                                                     <div class="layui-form-mid layui-word-aux"> 使用手机或者邮箱中的任意一个均可（若采用手机，请确保你的帐号已绑定过该手机）
                                                                     </div> 
                                                              </div>
                                                              
                                                              <div class="layui-form-item">
                                                                    <label for="L_pass" class="layui-form-label">图形码</label>                                       
                                                                    <div class="layui-input-inline"> 
                                                                       <input type="text" id="L_imagecode" name="imagecode" required="" lay-verify="required" autocomplete="off" class="layui-input" />
                                                                    </div> 
                                                               </div>  
                                                                                                                                                          
                                                               <div class="layui-form-item">
                                                                    <label for="L_vercode" class="layui-form-label">验证码</label> 
                                                                    <div class="layui-input-inline"> 
                                                                         <input type="text" id="L_vercode" name="vercode" required="" lay-verify="required" placeholder="请输入手机短信验证码" autocomplete="off" class="layui-input" />
                                                                    </div> 
                                                                    
                                                                    <div class="layui-form-mid" style="padding: 0!important;">                                                            
                                                                          <button type="button" class="layui-btn layui-btn-normal" id="FLY-getvercode">获取验证码</button> 
                                                                    </div> 
                                                               </div> 
                                                               
                                                               <div class="layui-form-item"> 
                                                                     <input type="hidden" name="secret" value="%E9%98%B2%E6%AD%A2%E5%B9%BF%E5%91%8A%E7%8B%97683316" /> 
                                                                     <label for="L_username" class="layui-form-label">昵称</label> 
                                                                     <div class="layui-input-inline"> 
                                                                            <input type="text" id="L_username" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input" />
                                                                      </div> 
                                                               </div>  
                                                               
                                                              <div class="layui-form-item">
                                                                    <label for="L_pass" class="layui-form-label">密码</label>                                       
                                                                    <div class="layui-input-inline"> 
                                                                       <input type="password" id="L_pass" name="pass" required="" lay-verify="required" autocomplete="off" class="layui-input" /> 
                                                                    </div> 
                                                                    <div class="layui-form-mid layui-word-aux">
                                                                        6到16个字符
                                                                    </div> 
                                                               </div>  
                                                               
                                                              <div class="layui-form-item">
                                                                    <label for="L_pass" class="layui-form-label">确认密码</label>                                       
                                                                    <div class="layui-input-inline"> 
                                                                       <input type="password" id="L_repass" name="repass" required="" lay-verify="required" autocomplete="off" class="layui-input" /> 
                                                                    </div> 
                                                              </div>        
                                                              
                                                              <div class="layui-form-item" style="position: relative; left: -10px; height: 32px;"> 
                                                                    <input type="checkbox" name="agreement" lay-skin="primary" title="" checked="" /> 
                                                                    <a href="/instructions/terms.html" target="_blank" style="position: relative; top: 4px; left: 5px; color: #999;">同意用户服务条款</a> 
                                                              </div>  
                                                              
                                                              <div class="layui-form-item"> 
                                                                    <button class="layui-btn" lay-filter="*" lay-submit="">立即注册</button> 
                                                              </div>   
                                                              
                                                                                                                                                                                                                                                                                      
                                                     </form>
                                             </div> 
                                     </div>
                               </div> 
                           </div> 
                      </div>
                </div>                  
         </div>
                                        
                                        
            <script src="//res.layui.com/layui/dist/layui.js?t=1590913495283">
            </script>                                       
            <script>
                 layui.cache.page ='';
                 layui.cache.user ={username:'游客' ,uid:-1 ,avatar:'//res.layui.com/static/images/fly/avatar/default.png' ,experience:0 ,sum:0 ,vip:0 ,sex:''};
                 layui.config({version:"1590913495283"}).extend({'fly':'//res.layui.com/static/lay/modules/fly/index'}).use('fly');
            </script> 
            
            <script>
                    var _hmt =_hmt ||[];
                           (function() {var hm =document.createElement("script");
                                 hm.src ="https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
                                 var s =document.getElementsByTagName("script")[0];
                                 s.parentNode.insertBefore(hm,s);})();
            </script>                                   
     </body>
</html>